@page "/categories/create"

<h3>Crear Categoria</h3>

<FormWithName @ref="categoryForm"
              Label="Categoria:"
              Model="category"
              OnValidSubmit="CreateAsync"
              ReturnAction="Return" />
